@import "layout.scss";

.search.page {
    margin: 0px auto;
    
    header, .block {
        margin: 0px auto;
    }
    .pageNavBar {
        width: 660px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        a {
            width: 49%;
            &:hover {
                text-decoration: none;
            }
        }
        &_item {
            border: 1px solid #fff;
            border-radius: 15px;
            padding: 15px;
            box-sizing: border-box;
            transition: 0.5s;
            color: #fff;
            font-size: 18px;
            text-align: center;
            font-weight: 200;
            cursor: pointer;
            
            
            &:hover {
                background-color: rgba(#fff, 0.2);
            }
            &.active {
                background-color: $color_yellow;
                border: 1px solid transparent;
                color: $color_brown;
                font-weight: 400;
            }
        }
    }
    .block {
        width: 660px;
        margin-top: 15px;

        .button {
            margin: 0;
            margin-top: 20px;
            text-align: center;
            font-size: 18px;
            width: 100%;
        }
        .button.del:hover {
            filter: contrast(110%);
            transform: scale(1) translateY(-5%);
        }
    }
    .title {
        text-align: center;
    }

    .search_item {
        padding: 10px 25px;
        border: 1px solid transparent;
        border-radius: 15px;
        position: relative;
        display: flex;

        &_main {
            width: 100%;
            position: relative;
            z-index: 2;
            h4, .search_item_main_value {
                display: inline-block;
            }
            h4 {
                width: 25%;
                font-weight: 400;
            }
            .dateBox {
                width: 70%;
                margin-top: 0;
                display: inline-flex;
                justify-content: space-between;
            }
            &_value {
                width: 70%;
            }
        }

        &_bgc {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid #d1d1d1;
            border-radius: 15px;
            z-index: 1;
        }
        select, input {
            background-color: transparent;
            font-weight: normal;
            max-height: 35px;

            &[disabled="disabled"] {
                opacity: 0.4;
            }
        }

        input[type=checkbox] {
            margin-top: 7px;
            margin-right: 15px;
            cursor: pointer;
            font-size: 14px;
            width: 20px;
            height: 17px;
            position: relative;
            z-index: 2;

            &:checked ~ .search_item_bgc {
                background-color: #edead8;
                border: 1px solid $color_yellow;
            }
            &:after {
                position: absolute;
                width: 20px;
                height: 20px;
                top: 0;
                content: " ";
                background-color: #fff;
                color: #fff;
                border: #d1d1d1 solid 1px;
                display: inline-block;
                visibility: visible;
                padding: 0 3px 2px 5px;
                border-radius: 3px;
            }
            &:checked:after {
                content: "✓";
                text-align: center;
                color: #111;
                font-size: 15px;
                font-weight: bold;
            }
        }
    }
    .block.result {
        width: 1800px;
        max-width: 90vw;
        .tableBlock {
            width: 100%;
            overflow-x: auto;
        }
        .button {
            width: auto;
            margin: 0 .5rem;
        }
        table {
            margin: 0 auto;
            font-size: 14px;
            width: 100%;
            thead {
                th {
                    text-align: center;
                    background-color: $color_yellow;
                    border-right: #fff solid 3px;
                    padding: 1.5rem .5rem;
                    color: $color_brown;
                    font-weight: 400;
                }
            }
            tr {
                border-bottom: #fff 1px solid;
                &:nth-child(even) {
                    background-color: rgba(#DCDCDC, 0.1);
                }
            }
            td {
                padding: 1.5rem 1.25rem;
                text-align: center;
                font-weight: 400;
                .selectBox {
                    min-width: 70px;
                    select {
                        width: 100%;
                        position: relative;
                        z-index: 9;
                        background-color: transparent;
                        -webkit-appearance: auto !important;
                        border-radius: 5px;
                        padding: 5px;
                        padding-right: 0;
                    }
                }
                .button {
                    background-color: #cf4c4c;
                    font-size: 14px;
                    padding: .75rem 1.5rem;
                    color: #fff;
                }
                .view {
                    background-color: #eae6d2;
                    font-size: 14px;
                    padding: .75rem 1.5rem;
                    color: #333;
                    &:hover {
                        filter: contrast(110%);
                        transform: scale(1) translateY(-5%);
                        box-shadow: none;
                    }
                }
            }
        }
    }

    .yellow {
        background-color: #ebec90 !important;
    }
    tr.yellow {
        color: $color_brown;
        background-color: #ffffdf !important;
    }
    .orange {
        color: #fff;
        background-color: rgb(216,182,121) !important;
    }
    tr.orange {
        color: $color_brown;
        background-color: #fff4ec !important;
    }
    .pink {
        color: #fff;
        background-color: rgb(231, 131, 149) !important;
    }
    tr.pink {
        color: $color_brown;
        background-color: #ffecef !important;
    }
    .blue {
        color: #fff;
        background-color: rgb(124,168,212) !important;
    }
    tr.blue {
        color: $color_brown;
        background-color: #ecf5ff !important;
    }
}

#alertViewcoform {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: transparent;
    display: none;
    .alertBg {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(#4d4343, 0.9);
    }
    .alertmain {
        overflow-y: auto;
        position: relative;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
    }
    .coform_view {
        position: relative;
        margin-bottom: 2%;
    }
    #View_sign_img img {
        width: 100%;
    }
}

.coform_view {
    max-width: 920px;

    input[type="checkbox"]:after {
        border: 1px solid black;
    }

    input[type="checkbox"]:checked:after {
        background-color: #fff;
        color: black;
    }
    input[type="radio"] {
        margin: 0;
        margin-right: 5px;
    }

    .float_l {
        float: left;
    }

    .viewText {
        position: relative;
        bottom: .15rem;
    }
    h4 {
        font-size: 14px;
        font-weight: bolder;
        float: left;
        margin: auto 5px 5px 0;
    }
    #View_Card_3in1 {
        float: left;
    }

    #View_InvoiceType_2 {
        margin-left: 19px;
    }
    .emptySpan {
        display: inline-block;
        width: 200px;
        // border-bottom: solid 1px black;
    }
    .dateItem {
        width: 100%;
    }
    .container {
        padding: 0;
        width: 100%;
        .row {
            margin: 0;
            margin-bottom: 10px;
            span {
                display: inline-block;
            }
        }
        .star,
        #star1,
        #star2,
        #star3 {
            float: left;
            width: 12px;
            font-size: 16px;
            color: #e80e2b;
        }
        
        .einvoice_item {
            display: inline-block;
        }
        .precautions {
            width: 95%;
            margin: 10px auto 0;
            h5 {
                margin: 0 auto;
                line-height: 20px;
                text-align: justify;
            }
        }
        .vatNum {
            margin-left: 17%;
        }
        .storeDetail {
            margin: 10px auto 0;
            width: 95%;

        }
        header {
            margin-bottom: 25px;
            .col-lg-7,
            .col-md-7 {
                width: 55%;
                margin-left: 15px;
                padding-right: 0;

                .title {
                    text-align: center;
                }
            }
            .text_u {
                display: inline-block;
                font-size: 30px;
                text-decoration: underline;
                font-weight: bolder;
                margin-bottom: 10px;
            }
            .row {
                margin-bottom: 25px;
            }
            .col-lg-3,
            .col-md-3,
            .col-sm-3 {
                padding-right: 0;
                select {
                    width: 100%;
                }
            }
        }
        .logo {
            width: 135px;
            display: inline-block;
            img {
                width: 100%;
            }
        }

        .sign_box {
            width: 95%;
            margin: 15px auto;
            border: 1px solid #000;
            padding: 10px;
            .sign_main {
                width: 100%;
                .sign_main_r {
                    padding: 10px;
                    box-sizing: border-box;
                }
            }
            .sign_main_l {
                margin: 0 10px 0 0;
            }
            .sign_main_r {
                border: 1px solid #000;
                width: 90%;
                height: 150px;
                margin: 0 auto;
            }
            .sign_main h3 {
                word-break: break-all;
            }
            .sign_main h3 small {
                font-size: 12px;
            }

            /* table rwd start */
            table {
                width: 98%;
                margin: 10px auto;
                border-collapse: collapse;
            }
            tr:nth-of-type(odd) {
                background: none;
            }
            th {
                width: 33.333%;
                background: none;
                text-align: center;
            }
            td,
            th {
                padding: 6px;
                border: 1px solid #000;
                height: 24px;
            }
        }
        .store {
            display: flex;
            flex-direction: column;
            .store_id {
                font-size: 16px;
            }
        }
        .importantText,.finalSign {
            margin: 15px auto;
            h4 {
                margin-left: 5px;
            }
        } 
        .precautions {
            display: flex;
            flex-direction: column;
        }
        .importantText, .precautions h4 {
            font-size: 16px;
        }
        
    }
}

#alert {
    .alertmain {
        .question_main {
            display: none;
            h4 {
                padding: 10px 0px 15px 0;
            }
        }
    }
}


#alert.show.question {
    .alertmain {
        .circle, svg {
            display: none;
        }
        .question_main {
            display: block;
            text-align: center;
            .checkBtns {
                display: flex;
                justify-content: space-between;
                margin-top: 15px;
            }
            .button {
                display: inline-block;
                padding: 10px 25px;
                background-color: $color_yellow;
                border-radius: 10px;
                transition: 0.25s;
                cursor: pointer;
                &:hover {
                    filter: contrast(110%);
                    transform: translateY(-5%);
                }
            }
        }
    }
    h3 {
        display: none;
    }
}

@media (max-width: 1200px) {
    .search_item_date {
        h4 {
            transform: translateY(30%);
        }
    }
}